.article {
  @include indent($type: 'all');
  text-align: center;
  font-family: $article-font;
  font-size: 24px;
  line-height: 27px;
  font-weight: 400;
}
.article--span {
  font-family: $article-span-font;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 20px;
}
.services__article::after,
.team__article::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: $pink-color;
  margin: 40px auto 64px;
}
