.info {
  @include flex($type: 'between-center');
  height: 62px;
  border-top: 1px solid $border-color;
  padding: 0;
  color: $main-color;
  font-family: $article-span-font;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
.info__link {
  @extend %link;
  color: $pink-color;
}
.info__email {
  @include flex($type: 'between');
}
.info__subscribe {
  @include flex($type: 'indent');
  width: 150px;
  height: 40px;
  color: $head-color;
  font-family: $article-span-font;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $background-color;
  border: none;
}
