.services {
  padding-bottom: 100px;
}
.services-list {
  @extend %list;
  @include flex($type: 'wrap-around');
}
.services-list__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 380px;
  flex: 0 0 380px;
  position: relative;
  padding-left: 80px;

  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 100px;
  }
}
.services-list__icon {
  &::before {
    content: '';
    display: block;
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 20px;
  }
  &--clock::before {
    background-image: url(../images/icons/icon.svg);
  }
  &--graphic::before {
    background-image: url(../images/icons/icon2.svg);
  }
  &--computer::before {
    background-image: url(../images/icons/icon3.svg);
  }
  &--book::before {
    background-image: url(../images/icons/icon4.svg);
  }
  &--home::before {
    background-image: url(../images/icons/icon5.svg);
  }
  &--digital::before {
    background-image: url(../images/icons/icon6.svg);
  }
}

.services-list__title {
  color: $main-color;
  font-family: $article-span-font;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.services__article,
.team__article {
  color: $main-color;
  @include flex($type: column);
}
