$base-font: 'Roboto', sans-serif;

// common

$article-font: 'Kaushan Script', cursive;
$article-span-font: 'Montserrat', sans-serif;

// color
$primiary-color: #999999;
$head-color: #ffffff;
$main-color: #333333;
$background-color: #95e1d3;
$yellow-color: #fce38a;
$pink-color: #f38181;
$border-color: #cccccc;

// text sizes

$base-fotnt-size: 15px;
$base-line-height: 24px;
