html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

/* Header */

.navigation {
  padding: 30px 0 110px 0;
}
.logo {
  padding: 0;
  margin: 0;
  float: left;
  font-size: 30px;
  line-height: 32px;
  font-weight: 400;
}
.logo a {
  text-transform: uppercase;
  text-decoration: none;
  color: #555252;
}
.logo::first-letter {
  color: #1abc9c;
  font-weight: bold;
}
.site-navigation {
  list-style: none;
  width: 475px;
  margin: 0;
  padding: 0;
  float: right;
}
.site-navigation a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 11px;
  font-weight: bold;
  color: #0f0101;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #1abc9c;
}

.site-navigation li {
  float: left;
  margin-top: 7px;
}
.site-navigation li:not(:last-child) {
  margin-right: 30px;
}

/* Main */

.article {
  color: #515151;
  font-size: 48px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.article::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 32px auto 92px;
}
.products {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 110px;
}
.products a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.products img {
  background-color: #e9f0fd;
}
.products li {
  width: 255px;
  float: left;
  list-style: none;
  margin-right: 30px;
  margin-bottom: 30px;
}
.products li:nth-child(4n) {
  margin-right: 0;
}
.products li:nth-last-child(-n + 4) {
  margin-bottom: 0;
}
.title {
  line-height: 40px;
  margin: 0;
  padding: 0;
  background-color: #323232;
}
.name {
  float: left;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding-left: 14px;
  width: 200px;
}
.price {
  float: right;
  font-size: 18px;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0.439);
  width: 55px;
  padding-left: 14px;
}
.products li:hover .title,
.products li:focus .title {
  background-color: #1abc9c;
}
.news {
  margin: 0;
  padding: 0 0 46px 0;
}
.news li {
  list-style: none;
  width: 350px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  float: left;
}
.news li:not(:last-child) {
  margin-right: 30px;
}
.news-title::after {
  content: "";
  display: block;
  width: 135px;
  height: 3.5px;
  background-color: #1abc9c;
  margin: 10px 0 28px;
}
.news-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}
button {
  border-style: none;
  text-align: center;
  background-color: #1abc9c;
  width: 160px;
  height: 50px;
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}
